/* fonts */
@font-face {
  font-family: ubuntu;
  src: url(./assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

/* variables */
:root {
  --white: #fff;
  --black: #000;
  --main-red: #b20600;
  --drak-blue: #00092c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--drak-blue);
}

/* global style */
.container {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 85%;
  }
}

/* nav */
nav {
  width: 100vw;
  height: 100px;
  background-color: var(--main-black);
  display: flex;
  align-items: center;
  position: sticky;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo a {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
  text-transform: capitalize;
}

/* nav links */
.links-wrapper {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin: 0 18px;
}

.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--white);
  font-size: 20px;
  position: relative;
  padding: 5px 0;
}

.nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--main-red);
  position: absolute;
  bottom: 0;
  transition: 0.5s;
}

.nav-link:hover::before {
  width: 100%;
}

/* responsive navbar */
@media screen and (max-width: 992px) {
  .links-wrapper {
    display: none;
  }
  .logo a {
    font-size: 20px;
  }
  .nav-open {
    width: 20px;
    display: block;
  }
}

/* header */
.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  overflow: hidden;
}

/* hero image */
.my-img {
  width: 35%;
  border-radius: 3px;
}

/* hero info */
.info {
  width: 60%;
}

.info > h2:first-child {
  color: var(--white);
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
}

.info > h2 > span {
  color: var(--main-red);
}

.info > h2:nth-child(2) {
  color: var(--white);
  font-size: 50px;
  margin: 20px 0;
  text-align: center;
}

/* about me info text */
.header-text {
  margin-top: 3rem;
}

.about-me {
  color: var(--white);
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.about-me::before {
  content: "<";
  color: var(--main-red);
}

.about-me::after {
  content: "/>";
  color: var(--main-red);
}

/* buttons container */
.buttons-wrapper {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.cv-button,
.email-me {
  width: 49%;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 3px;
  padding: 20px 50px;
  text-decoration: none;
  text-align: center;
}
